<h2>Reporter output</h2><table><tr><td>Login successful!</td></tr>
<tr><td>----------User Story AM-104----------</td></tr>
<tr><td>Connected device name : No device connected</td></tr>
<tr><td>Acceptance Criteria 1)User click on scan Aadhaar which should trigger scan command to EDC Passed------></td></tr>
<tr><td>Exception Criteria 3)If any of the Aadhaar details does not exist in scanned details, user should be able to manually enter them. Passed------>First Name entered manually</td></tr>
<tr><td>Acceptance Criteria 2)Scanned Aadhar card details should be received from EDC post successful scan Failed------>First Name NOT Auto Populated</td></tr>
<tr><td>Exception Criteria 3)If any of the Aadhaar details does not exist in scanned details, user should be able to manually enter them. Passed------>Last Name entered manually</td></tr>
<tr><td>Acceptance Criteria 2)Scanned Aadhar card details should be received from EDC post successful scan Failed------>Last Name NOT Auto Populated</td></tr>
<tr><td>Exception Criteria 3)If any of the Aadhaar details does not exist in scanned details, user should be able to manually enter them. Passed------>DOB entered manually</td></tr>
<tr><td>Acceptance Criteria 2)Scanned Aadhar card details should be received from EDC post successful scan Failed------>DOB NOT Auto Populated</td></tr>
<tr><td>Exception Criteria 3)If any of the Aadhaar details does not exist in scanned details, user should be able to manually enter them. Passed------>Aadhar ID entered manually</td></tr>
<tr><td>Acceptance Criteria 2)Scanned Aadhar card details should be received from EDC post successful scan Failed------>Aadhar ID NOT Auto Populated</td></tr>
<tr><td>Acceptance Criteria 3)Scanned Aadhar card details should be displayed: Passed------></td></tr>
<tr><td>Acceptance Criteria Salutation Passed------></td></tr>
<tr><td>Server response/Toast message is: OTP verification Successful</td></tr>
</table>